/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------- au dessus reset css d'Eric Meyers------------------------------------- */

/* ---------------------------------------------- @imports  ------------------------------------- */

@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixin";
@import "./layouts/header";
@import "./layouts/footer";



/* ------------------------ page d'accueil --------------------- */

html, body {
    height: 100%;
}

/* ------------- variables -------------------------------------*/

// $couleur_1 : #569c87;
// $couleur_2: #fdcb46;
// $couleur_back_la_note: #fcdfdb;
// $couleur_back_le_chic: #FEF4FD;
// $wiggle-intensity: 2%;
// $size: 1vh;
// $number_point: 3;
// $taille_point: 10px;
// $time: 1000ms;
// $anim-delay: $time / $number_point;


/* ------------- keyframe -------------------------------------*/


// @keyframes wiggle {
//     25% {
//         transform: translateX($wiggle-intensity);
//     }
//     75% {
//         transform: translateX(-$wiggle-intensity);
//     }
// }


// @keyframes toggle {
//     25% {
//         transform-origin: center;
//         transform: rotate(-10deg);
//     }
//     75% {
//         // transform-origin: center;
//         transform: rotate(10deg);
//     }
// }

// @keyframes saut{
//     0% {
//         transform: translateY(0);
//     }
//     25% {
//         transform: translateY($taille_point/2); 
//     }
//     50% {
//         transform: translateY($taille_point);
//     }
//     75%{
//         transform: translateY($taille_point * 0.5);
//     }
//     100% {
//         transform: translateY($taille_point * 0);
//     }
// }

/* -------------------- mixin  --------------------------------------*/

// @mixin degrade {
//     background-image: linear-gradient(to right, brown,blue);
//     background-size: cover;
//     background-clip: text;
//     color: transparent;
// }


// @mixin btn {
//     border:none;
// 	padding:6px 30px 6px 30px;
// 	border-radius:8px;
// 	background: $couleur_1;
// 	font: 30px Arial;
//     color: $couleur_2;

//     margin-top: 30px;
//     margin-bottom: 20px;
//     display: flex;
//     width: 60%;
//     justify-content: center;
// }




// @mixin petit_point {
//     .loader{
//         width: $taille_point*6;
//         height: $taille_point*4;
//         display: flex;
//         justify-content: space-evenly;
//         align-content: center;
//         &__point{
//             background-color: $couleur_2;
//             height: $taille_point;
//             width: $taille_point;
//             border-radius: 50%;
//             animation: saut $time  infinite;
//             @for $i from 1 through $number_point {
//                 &--#{$i} {
//                     animation-delay: $anim-delay * $i;
//                 }
//             }
//         }
//     }
// }






/* ----------------------------------------------------------*/

body
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    margin-left: 0px;
    margin-right: 0px;
    
}

// header
// {
//     height: 100px;
//     width: 100%;
//     margin-top: 0%;
//     padding: 30px;
//     background-color: $couleur_1;
//     color: $couleur_2;
//     text-align: center;
//     font-size: 50px;
//     font-weight: bold;
    
// }


#main
{
    max-width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    background-color: white;
    
}


article
{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 20px;
    justify-items: center;
    text-align: center;
    padding-top: 120px;
    box-shadow: 1px 1px 10px #EEEEEE;
    
}

.icone_note
{
    max-width: calc((200px / 8));
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.la_note
{
    background-color: $couleur_back_la_note;
    font-family: "Devonshire-Regular";
    color: #3c1218;
}


.zoom{
    transform: scale(1);
    transition-duration: 0.7s;
    &:hover{
        transform: scale(1.4);
        opacity: 0.5;
    }
}
    

.la_note h2
{
    font-family: "DeliusUnicase-Bold";
    color: #3c1218;

}

.le_chic
{
    background-color: $couleur_back_le_chic;
    font-family: "Montez-Regular";
    
}

.le_chic h2
{
    font-family: "AbrilFatface";
}

.le_delice
{
    background-color: #F9F9F9;
    font-family: "Dancing Script";
}

.le_delice h2
{
    font-family: "ShadowsIntoLight";
}

.la_palette
{
    background-color: #FCFFFD;
    font-family: "KaushanScript-Regular";
}

.la_palette h2
{
    font-family: "ShadowsIntoLight";
}

a
{
    text-decoration: none;
    color: $couleur_2;
}

h2
{
    margin-top: 10px;
}

.bouton
{
    /*
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    */
    @include btn();
    .loader{
        visibility: hidden;
    }
    &:hover{
        .prochainement {
            visibility: visible;
            position: relative;
        }
        .loader{
            visibility: visible;
        }
    }

}

.container
{
    margin-left: 15px;
}

// footer
// {
//     height: 50px;
//     width: 100%; 
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     background-color: $couleur_1;
//     color: $couleur_2;
//     position: sticky;  
//     bottom: 0px;
//     left: 0px;
//     right: 0px;
// }

footer a
{
    text-decoration: none;
    color: $couleur_2;
    width: 50%;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    display: flex;
}


.text_footer{
    float: left;
    &:nth-child(2){
        display: flex;
        align-content: flex-end;
        float: right;
    }
    &:hover{
    animation: toggle .1s ease-in-out 5;
    }
}

footer a:nth-child(2)

{
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
}



.loader{
    /*
    width: $taille_point*6;
    */
    height: $taille_point*4;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    &__point{
        background-color: $couleur_2;
        height: $taille_point;
        width: $taille_point;
        border-radius: 50%;
        // animation: saut $time  infinite;
        animation: apparition $time  infinite;
        @for $i from 1 through $number_point {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}





/* ---------------- menu P1 la note enchantee -------------------- */

.main_P1
{
    background-color: #fcdfdb;
    
}

/* ---------------- menu P2 le chic -------------------- */

.body_P1
{
    background-color: #FEF4FD;
}

/* ---------------- menu P3 le delice -------------------- */

.body_P1
{
    background-color: #F9F9F9;
}

/* ---------------- menu P4 la palette  -------------------- */

.body_P1
{
    background-color: #FCFFFD;
}


.progress

{
    &__bar{
        transform: scaleX(0);
        border: solid green;
    }
}

