/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------- au dessus reset css d'Eric Meyers------------------------------------- */

/* ---------------------------------------------- @imports  ------------------------------------- */

@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixin";
@import "./layouts/header";
@import "./layouts/footer";



/* ------------------------ page d'accueil --------------------- */

html, body {
    height: 100%;
}

body
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    margin-left: 0px;
    margin-right: 0px;
    
}


#main
{
    &_home{
        @include main_base();
        margin-top: 50px;
    }
    &_p1{
        margin-top: 10px;
        @include main_base();
    }
}
        


.la_note, .le_chic, .le_delice, .la_palette
// article
{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 20px;
    justify-items: center;
    text-align: center;
    padding-top: 120px;
    box-shadow: 1px 1px 10px #EEEEEE;
    
}

.icone_note
{
    max-width: calc((200px / 8));
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.la_note
{
    background-color: $couleur_back_la_note;
    font-family: $font_la_note;
    color: $color_la_note;
}

.la_note h2
{
    font-family: "DeliusUnicase-Bold";
    color: #3c1218;

}

.zoom{
    text-decoration: none;
    // color: transparent;
    transform: scale(1);
    transition-duration: 0.7s;
    &:hover{
        transform: scale(1.4);
        opacity: 0.5;
    }
}

.zoom2{
    @include zoom_2();
}
 
.zoom3{
    @include zoom_3();
}

.zoom4{
    @include zoom_4();
}


.le_chic
{
    background-color: $couleur_back_le_chic;
    font-family: "Montez-Regular";
    // .back_chic{
    //     background: linear-gradient(to left,brown, blue);
    // }
}

.le_chic h2
{
    font-family: "AbrilFatface";
}

.le_delice
{
    background-color: #F9F9F9;
    font-family: "Dancing Script";
}

.le_delice h2
{
    font-family: "ShadowsIntoLight";
}

.la_palette
{
    background-color: #FCFFFD;
    font-family: "KaushanScript-Regular";
}

.la_palette h2
{
    font-family: "ShadowsIntoLight";
}

a
{
    text-decoration: none;
    color: $couleur_2;
}

h2
{
    margin-top: 10px;
}

.bouton
{
    @include btn();
    .loader{
        visibility: hidden;
    }
    &:hover{
        .prochainement {
            visibility: visible;
            position: relative;
        }
        .loader{
            visibility: visible;
        }
    }

}

.container
{
    margin-left: 15px;
    display: flex;
    align-items: baseline
}


footer a
{
    text-decoration: none;
    color: $couleur_2;
    width: 50%;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    display: flex;
}


.text_footer{
    float: left;
    &:nth-child(2){
        display: flex;
        align-content: flex-end;
        float: right;
    }
    &:hover{
    animation: toggle .1s ease-in-out 5;
    }
}

footer a:nth-child(2)

{
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
}



.loader{
    height: $taille_point*4;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    &__point{
        margin-top: 60%;
        display: flex;
        align-items: flex-end;
        background-color: $couleur_2;
        height: $taille_point;
        width: $taille_point;
        border-radius: 50%;
        //si animation en points qui sautillent décommenter 
        // lignes suivante et commenter celle d'apres
        // animation: saut $time  infinite;
        animation: apparition $time  infinite;
        @for $i from 1 through $number_point {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}






/* ---------------- menu P1 la note enchantee -------------------- */

#main_test
{
    margin-left: 20px;
    margin-right: 20px;
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    background-color: $couleur_back_la_note;
    font-family: "DeliusUnicase-Bold";
    color: #3c1218;
    
}

.container1{
    display: flex;

}

.intitule{
    text-align: center;
    h1{
        color: inherit;
        text-decoration: none;
        background: linear-gradient(to top, #3c1218, 0%, #3c1218 2px, transparent 5px);
        background-size: 0 100%;
        transition: background-size .3s;
        &:hover{
            background-size: 100% 100%;
        }
    }
}

/* ---------------- menu P2 le chic -------------------- */

.body_P1
{
    background-color: #FEF4FD;
}

/* ---------------- menu P3 le delice -------------------- */

.body_P1
{
    background-color: #F9F9F9;
}

/* ---------------- menu P4 la palette  -------------------- */

.body_P1
{
    background-color: #FCFFFD;
}


.progress

{
    &__bar{
        transform: scaleX(0);
        border: solid green;
    }
}

