@charset "UTF-8";
/* ---------------------------------------------- @imports  ------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./vendors/fontawesome-free-5.14.0-web/css/all.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------- au dessus reset css d'Eric Meyers------------------------------------- */
@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
@keyframes toggle {
  25% {
    transform-origin: center;
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@keyframes saut {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
header {
  height: 15%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #569c87;
  color: #fdcb46;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  header {
    width: 100%;
  }
}

footer {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #569c87;
  color: #fdcb46;
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

footer a {
  justify-content: flex-start;
  text-decoration: none;
  color: #fdcb46;
  width: 50%;
  padding-top: 20px;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
}

.text_footer {
  float: left;
}
.text_footer:nth-child(2) {
  display: flex;
  align-content: flex-end;
  float: right;
}
.text_footer:hover {
  animation: toggle 0.1s ease-in-out 5;
}

footer a:nth-child(2) {
  justify-content: flex-end;
  text-align: right;
  padding-right: 10px;
}

@font-face {
  font-family: "Devonshire-Regular";
  src: url("./Font/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "DeliusUnicase-Bold";
  src: url("./Font/Delius_Unicase/DeliusUnicase-Bold.ttf");
}
@font-face {
  font-family: "AbrilFatface";
  src: url("./Font/Abril_Fatface/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Montez-Regular";
  src: url("./Font/Montez/Montez-Regular.ttf");
}
@font-face {
  font-family: "Dancing Script";
  src: url("./Font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "ShadowsIntoLight";
  src: url("./Font/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("./Font/Kaushan_Script/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "PTSerif-Regular";
  src: url("./Font/PT_Serif/PTSerif-Regular.ttf");
}
@font-face {
  font-family: "Caveat-VariableFont_wght";
  src: url("./Font/Caveat/Caveat-VariableFont_wght.ttf");
}
/* ------------------------ page d'accueil --------------------- */
html,
body {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: auto;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 599px) {
  body {
    max-width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
  }
}

#main_home {
  max-width: 50%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 599px) {
  #main_home {
    max-width: 95%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0%;
    scroll-behavior: smooth;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  #main_home {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.cartes {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cartes a {
  width: 37%;
  max-height: 22vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 10px;
  justify-content: center;
}
@media screen and (max-width: 599px) {
  .cartes a {
    width: 80%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .cartes a {
    width: 45%;
    max-height: 42vw;
  }
}

.fa-music {
  background: linear-gradient(to right, #f04b5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}

.carte-La-note {
  height: 100%;
  width: 23vh;
  display: flex;
  flex-direction: column;
  margin: 15px 20px 15px 20px;
  justify-items: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 10px #eeeeee;
  background-color: #fcdfdb;
  color: #3c1218;
  height: 100%;
}
.carte-La-note p {
  font-family: "Devonshire-Regular";
}
.carte-La-note h2 {
  font-family: "DeliusUnicase-Bold";
}
@media screen and (max-width: 599px) {
  .carte-La-note {
    width: 100%;
  }
}

.zoom1 {
  margin: auto;
  color: #3c1218;
  transform: scale(1);
  transition-duration: 0.7s;
}
.zoom1 p {
  background: linear-gradient(to right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire-Regular";
}
.zoom1 h2 {
  font-family: "DeliusUnicase-Bold";
}
.zoom1:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.main_menu_La-note {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  margin-bottom: 2%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  font-size: 0.9em;
}
@media screen and (max-width: 599px) {
  .main_menu_La-note {
    max-width: 95%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .main_menu_La-note {
    max-width: 95%;
    margin-bottom: 7%;
  }
}

.titrePage_La-note {
  display: flex;
  height: 8%;
  padding-top: 4%;
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: #3c1218;
  font-size: 3vh;
  justify-content: center;
}
.titrePage_La-note p {
  background: linear-gradient(to right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire-Regular";
}

.headerMenu_La-note {
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  font-size: 2em;
  font-family: "Devonshire-Regular";
  color: #3c1218;
  width: 100%;
  text-align: center;
}
.headerMenu_La-note h1 {
  background: linear-gradient(to right, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Devonshire-Regular";
}
.headerMenu_La-note .article_P1 {
  font-family: "Devonshire-Regular";
}
@media screen and (max-width: 599px) {
  .headerMenu_La-note {
    font-size: 1.2em;
  }
}

.carte-le-chic {
  height: 100%;
  width: 23vh;
  display: flex;
  flex-direction: column;
  margin: 15px 20px 15px 20px;
  justify-items: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 10px #eeeeee;
  background-color: #fef4fd;
  color: #c77412;
  height: 100%;
}
.carte-le-chic p {
  font-family: "AbrilFatface";
}
.carte-le-chic h2 {
  font-family: "PTSerif-Regular";
}
@media screen and (max-width: 599px) {
  .carte-le-chic {
    width: 100%;
  }
}

.zoom2 {
  margin: auto;
  color: #c77412;
  transform: scale(1);
  transition-duration: 0.7s;
}
.zoom2 p {
  background: linear-gradient(to right, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "AbrilFatface";
}
.zoom2 h2 {
  font-family: "PTSerif-Regular";
}
.zoom2:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.main_menu_le-chic {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  margin-bottom: 2%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  font-size: 0.9em;
}
@media screen and (max-width: 599px) {
  .main_menu_le-chic {
    max-width: 95%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .main_menu_le-chic {
    max-width: 95%;
    margin-bottom: 7%;
  }
}

.titrePage_le-chic {
  display: flex;
  height: 8%;
  padding-top: 4%;
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: #3c1218;
  font-size: 3vh;
  justify-content: center;
}
.titrePage_le-chic p {
  background: linear-gradient(to right, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "AbrilFatface";
}

.headerMenu_le-chic {
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  font-size: 2em;
  font-family: "AbrilFatface";
  color: #3c1218;
  width: 100%;
  text-align: center;
}
.headerMenu_le-chic h1 {
  background: linear-gradient(to right, #c77412, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "AbrilFatface";
}
.headerMenu_le-chic .article_P1 {
  font-family: "AbrilFatface";
}
@media screen and (max-width: 599px) {
  .headerMenu_le-chic {
    font-size: 1.2em;
  }
}

.carte-le-delice {
  height: 100%;
  width: 23vh;
  display: flex;
  flex-direction: column;
  margin: 15px 20px 15px 20px;
  justify-items: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 10px #eeeeee;
  background-color: #f9f9f9;
  color: #0431df;
  height: 100%;
}
.carte-le-delice p {
  font-family: "Dancing Script";
}
.carte-le-delice h2 {
  font-family: "ShadowsIntoLight";
}
@media screen and (max-width: 599px) {
  .carte-le-delice {
    width: 100%;
  }
}

.zoom3 {
  margin: auto;
  color: #0431df;
  transform: scale(1);
  transition-duration: 0.7s;
}
.zoom3 p {
  background: linear-gradient(to right, #0431df, #83c0fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}
.zoom3 h2 {
  font-family: "ShadowsIntoLight";
}
.zoom3:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.main_menu_le-delice {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  margin-bottom: 2%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  font-size: 0.9em;
}
@media screen and (max-width: 599px) {
  .main_menu_le-delice {
    max-width: 95%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .main_menu_le-delice {
    max-width: 95%;
    margin-bottom: 7%;
  }
}

.titrePage_le-delice {
  display: flex;
  height: 8%;
  padding-top: 4%;
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: #3c1218;
  font-size: 3vh;
  justify-content: center;
}
.titrePage_le-delice p {
  background: linear-gradient(to right, #0431df, #83c0fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}

.headerMenu_le-delice {
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  font-size: 2em;
  font-family: "Dancing Script";
  color: #3c1218;
  width: 100%;
  text-align: center;
}
.headerMenu_le-delice h1 {
  background: linear-gradient(to right, #0431df, #83c0fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}
.headerMenu_le-delice .article_P1 {
  font-family: "Dancing Script";
}
@media screen and (max-width: 599px) {
  .headerMenu_le-delice {
    font-size: 1.2em;
  }
}

.carte-la-palette {
  height: 100%;
  width: 23vh;
  display: flex;
  flex-direction: column;
  margin: 15px 20px 15px 20px;
  justify-items: center;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 10px #eeeeee;
  background-color: #fcfffd;
  color: #42973c;
  height: 100%;
}
.carte-la-palette p {
  font-family: "KaushanScript-Regular";
}
.carte-la-palette h2 {
  font-family: "ShadowsIntoLight";
}
@media screen and (max-width: 599px) {
  .carte-la-palette {
    width: 100%;
  }
}

.zoom4 {
  margin: auto;
  color: #42973c;
  transform: scale(1);
  transition-duration: 0.7s;
}
.zoom4 p {
  background: linear-gradient(to right, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "KaushanScript-Regular";
}
.zoom4 h2 {
  font-family: "ShadowsIntoLight";
}
.zoom4:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.main_menu_la-palette {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  margin-bottom: 2%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  font-size: 0.9em;
}
@media screen and (max-width: 599px) {
  .main_menu_la-palette {
    max-width: 95%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .main_menu_la-palette {
    max-width: 95%;
    margin-bottom: 7%;
  }
}

.titrePage_la-palette {
  display: flex;
  height: 8%;
  padding-top: 4%;
  width: 100%;
  background-color: white;
  font-weight: bold;
  color: #3c1218;
  font-size: 3vh;
  justify-content: center;
}
.titrePage_la-palette p {
  background: linear-gradient(to right, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "KaushanScript-Regular";
}

.headerMenu_la-palette {
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
  font-size: 2em;
  font-family: "KaushanScript-Regular";
  color: #3c1218;
  width: 100%;
  text-align: center;
}
.headerMenu_la-palette h1 {
  background: linear-gradient(to right, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "KaushanScript-Regular";
}
.headerMenu_la-palette .article_P1 {
  font-family: "KaushanScript-Regular";
}
@media screen and (max-width: 599px) {
  .headerMenu_la-palette {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
  color: #fdcb46;
}

h2 {
  margin-top: 10px;
}

.bouton {
  border: none;
  padding: 6px 30px 6px 30px;
  border-radius: 8px;
  background: #569c87;
  font: 30px Arial;
  color: #fdcb46;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 5%;
  justify-content: center;
}
.bouton .loader {
  visibility: hidden;
}
.bouton:hover .prochainement {
  visibility: visible;
  position: relative;
}
.bouton:hover .loader {
  visibility: visible;
}

.prochainement {
  align-content: center;
}

.loader {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  margin-left: 10px;
}
.loader__point {
  margin-top: 60%;
  display: flex;
  align-items: flex-end;
  background-color: #fdcb46;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: apparition 1000ms infinite;
}
.loader__point--1 {
  animation-delay: 333.3333333333ms;
}
.loader__point--2 {
  animation-delay: 666.6666666667ms;
}
.loader__point--3 {
  animation-delay: 1000ms;
}

/* ---------------- menu base -------------------- */
.carte-Liste {
  width: 75%;
  padding: 40px;
}
@media screen and (max-width: 599px) {
  .carte-Liste {
    padding-left: 10px;
    padding-right: 10px;
  }
  .carte-Liste a {
    font-size: 1em;
  }
}
@media screen and (max-width: 599px) {
  .carte-Liste {
    max-height: 100%;
    width: 95%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .carte-Liste {
    width: 60%;
  }
}

.back-La-note {
  background-color: #fcdfdb;
}

.back-le-chic {
  background-color: #fef4fd;
}

.back-le-delice {
  background-color: #f9f9f9;
}

.back-la-palette {
  background-color: #fcfffd;
}

.entree,
.plats,
.dessert {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.entree .intitule,
.plats .intitule,
.dessert .intitule {
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  display: flex;
}
.entree .intitule :nth-child(1),
.plats .intitule :nth-child(1),
.dessert .intitule :nth-child(1) {
  margin-left: 0%;
}
.entree .intitule :nth-child(2),
.plats .intitule :nth-child(2),
.dessert .intitule :nth-child(2) {
  flex-grow: 2;
}
.entree .intitule :nth-child(3),
.plats .intitule :nth-child(3),
.dessert .intitule :nth-child(3) {
  margin-right: 0%;
  transform: scaleX(-1);
}
.entree .article_P1,
.plats .article_P1,
.dessert .article_P1 {
  margin: 5px;
  width: 80%;
  align-items: flex-start;
  flex-grow: 2;
  font-size: 0.9em;
}
@media screen and (max-width: 599px) {
  .entree .article_P1,
.plats .article_P1,
.dessert .article_P1 {
    font-size: 0.7em;
  }
}
.entree .prix,
.plats .prix,
.dessert .prix {
  margin: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  .entree .prix,
.plats .prix,
.dessert .prix {
    margin: 2px;
    font-size: 0.7em;
  }
}

svg {
  height: 20px;
}

.under-La-note {
  background: linear-gradient(to top, #3c1218 0%, #3c1218 1px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.under-La-note:hover {
  background-size: 100% 100%;
}

.under-le-chic {
  background: linear-gradient(to top, #c77412 0%, #c77412 1px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.under-le-chic:hover {
  background-size: 100% 100%;
}

.under-le-delice {
  background: linear-gradient(to top, #0431df 0%, #0431df 1px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.under-le-delice:hover {
  background-size: 100% 100%;
}

.under-la-palette {
  background: linear-gradient(to top, #42973c 0%, #42973c 1px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.under-la-palette:hover {
  background-size: 100% 100%;
}

/* ---------------- menu P1 la note enchantee -------------------- */
.note_1 {
  width: 100%;
  font-size: 25px;
}
@media screen and (max-width: 599px) {
  .note_1 {
    font-size: 15px;
  }
}

.basMenu {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basMenu p {
  margin-left: 5px;
  font-size: 1.4em;
  font-family: "Devonshire-Regular";
}
.basMenu .note_2 {
  font-size: 11px;
}
@media screen and (max-width: 599px) {
  .basMenu .note_2 {
    font-size: 8px;
  }
}

.intitule {
  text-align: center;
  margin-right: 0%;
  margin-left: 0%;
}
.intitule h1 {
  flex-grow: 1;
  width: 100%;
}
.intitule h2 {
  flex-grow: 1;
  width: 100%;
}

.trait-1 {
  fill: #3c1218;
}

.back-La-note .intitule {
  font-family: "Caveat-VariableFont_wght";
}
.back-La-note svg {
  margin-top: 10px;
}
.back-La-note .M1-font {
  font-family: "Caveat-VariableFont_wght";
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .back-La-note .M1-font {
    font-size: 0.9em;
  }
}
.back-La-note .prix {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.3em;
}
@media screen and (max-width: 599px) {
  .back-La-note .prix {
    font-size: 0.9em;
  }
}

/* ---------------- menu P2 le chic -------------------- */
.back-le-chic .entree {
  color: #c77412;
}
.back-le-chic .plats {
  color: #a56798;
}
.back-le-chic .dessert {
  color: #905bfd;
}
.back-le-chic .prix {
  font-weight: inherit;
}
.back-le-chic svg {
  margin-top: 10px;
}
.back-le-chic h2 {
  font: caption;
}

.entree,
.plats,
.dessert {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 10px;
  flex-grow: 1;
}
.entree .intitule,
.plats .intitule,
.dessert .intitule {
  width: 100%;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  display: flex;
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.3em;
}
.entree .intitule :nth-child(1),
.plats .intitule :nth-child(1),
.dessert .intitule :nth-child(1) {
  margin-left: 0%;
}
.entree .intitule :nth-child(2),
.plats .intitule :nth-child(2),
.dessert .intitule :nth-child(2) {
  flex-grow: 2;
}
.entree .intitule :nth-child(3),
.plats .intitule :nth-child(3),
.dessert .intitule :nth-child(3) {
  margin-right: 0%;
}

.trait-M2-T1 {
  fill: #c77412;
}

.trait-M2-T2 {
  fill: #a56798;
}

.trait-M2-T3 {
  fill: #905bfd;
}

/* ---------------- menu P3 le delice -------------------- */
.back-le-delice svg {
  margin-top: 10px;
}
.back-le-delice .trait-M3-T1 {
  fill: #0431df;
}
.back-le-delice .trait-M3-T2 {
  fill: #096ff3;
}
.back-le-delice .trait-M3-T3 {
  fill: #83c0fa;
}
.back-le-delice .M1-font {
  font-family: "Caveat-VariableFont_wght";
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .back-le-delice .M1-font {
    font-size: 0.9em;
  }
}
.back-le-delice h3 {
  font-family: "Caveat-VariableFont_wght";
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .back-le-delice h3 {
    font-size: 0.9em;
  }
}

/* ---------------- menu P4 la palette  -------------------- */
.yo {
  fill: #42973c;
}

.back-la-palette h1 {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.1em;
}
.back-la-palette h2 {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.1em;
}
.back-la-palette h3 {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.1em;
}
.back-la-palette .M4-font {
  font-family: "Caveat-VariableFont_wght";
  font-size: 16px;
}
@media screen and (max-width: 599px) {
  .back-la-palette .M4-font {
    font-size: 0.9em;
  }
}
.back-la-palette .prix {
  font-family: "Caveat-VariableFont_wght";
  font-size: 1.5em;
}
@media screen and (max-width: 599px) {
  .back-la-palette .prix {
    font-size: 0.9em;
  }
}
.back-la-palette svg {
  margin-top: 12px;
}

.progress__bar {
  transform: scaleX(0);
  border: solid green;
}

/* ---------------- page mentions légales  -------------------- */
.mentions_legales {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 40%;
  margin-bottom: 2%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  font-size: 0.9em;
}
.mentions_legales .titre-article-mentions {
  font-weight: bold;
  margin-bottom: 10px;
}
.mentions_legales article {
  margin: 20px;
}
@media screen and (max-width: 599px) {
  .mentions_legales {
    max-width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .mentions_legales {
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
