/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------- au dessus reset css d'Eric Meyers------------------------------------- */

/* ---------------------------------------------- @imports  ------------------------------------- */

@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixin";
@import "./layouts/header";
@import "./layouts/footer";
@import "./vendors/fontawesome-free-5.14.0-web/css/all.css";
@import "./base/Font.scss";


/* ------------------------ page d'accueil --------------------- */

html, body {
    height: 100%;
}

body
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    margin-left: 0px;
    margin-right: 0px;
    
}


#main
{
    &_home{
        @include main_base();
        margin-top: 50px;
    }
}

.cartes{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a{
        @include case(); 
    }
}


@each $menu in $menus {
    
}


.fa-music{
    background: linear-gradient(to right, #f04b5e , #f78f6a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}



@each $menu in $menus {
    $i: index($menus, $menu);
    $menu: map-get($menus, $i);

    .carte-#{map-get($menu, 'resto')}{
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: 15px 20px 15px 20px;
        justify-items: center;
        text-align: center;
        // padding-top: 120px;
        align-items: center;
        box-shadow: 1px 1px 10px #EEEEEE;
        @include carte(
            map-get($menu, 'backgroundColor'),
            map-get($menu, 'textColor'),
            map-get($menu, 'textFont1'),
            map-get($menu, 'textFont2')
        )
    }

    .zoom#{$i} {
        @include zoom(
            map-get($menu, 'from'),
            map-get($menu, 'to'),
            map-get($menu, 'textColor'),
            map-get($menu, 'textFont1'),
            map-get($menu, 'textFont2'),
            map-get($menu, 'backgroundColor')
        );
    }

    .main_menu_#{map-get($menu, 'resto')}{
        @include main_menus(
            map-get($menu, 'backgroundColor')
        )
    }

    .titrePage#{map-get($menu, 'resto')}{
    @include titre_menu(
        map-get($menu, 'from'),
        map-get($menu, 'to'),
        map-get($menu, 'textColor'),
        map-get($menu, 'textFont1')
    )
    }





}



a
{
    text-decoration: none;
    color: $couleur_2;
}

h2
{
    margin-top: 10px;
}


.bouton
{
    @include btn();
    .loader{
        visibility: hidden;
    }
    &:hover{
        .prochainement {
            visibility: visible;
            position: relative;
        }
        .loader{
            visibility: visible;
        }
    }

}


.prochainement
{
    align-content: center;
}


.loader{
    height: $taille_point*4;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    margin-left: 10px;
    &__point{
        margin-top: 60%;
        display: flex;
        align-items: flex-end;
        background-color: $couleur_2;
        height: $taille_point;
        width: $taille_point;
        border-radius: 50%;
        //si animation en points qui sautillent décommenter 
        // lignes suivante et commenter celle d'apres
        // animation: saut $time  infinite;
        animation: apparition $time  infinite;
        @for $i from 1 through $number_point {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}

footer a
{
    justify-content: flex-start;
    text-decoration: none;
    color: $couleur_2;
    width: 50%;
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    display: flex;
}


.text_footer{
    float: left;
    &:nth-child(2){
        display: flex;
        align-content: flex-end;
        float: right;
    }
    &:hover{
    animation: toggle .1s ease-in-out 5;
    }
}


footer a:nth-child(2)

{
    justify-content: flex-end;
    text-align: right;
    padding-right: 10px;
}



/* ---------------- menu P1 la note enchantee -------------------- */



@each $menu in $menus {
    $i: index($menus, $menu);
    $menu: map-get($menus, $i);
    .carte-#{$i}{
        // @include carte(
        //     map-get($menu, 'backgroundColor'),
        //     map-get($menu, 'textFont1'),
        //     map-get($menu, 'textFont2'),
        //     map-get($menu, 'textColor'),
        // )
        
    }
}

.headerMenu{
    display: flex;
    flex-wrap: wrap;
    background-color: $couleur_3;
    font-size: inherit;
    font-family: $font_la_note;
    color: $couleur_4;
    width: 100%;
    height: 10%;
    text-align: center;  
    
}


.entree, .plats, .dessert
{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    .intitule{
        width: 100%;
        margin: 10px;
        font-weight: bold;
    // h1{
    //     background: linear-gradient(to top, red 0%, red 1px, transparent 3px) no-repeat;
    //     background-size: 0% 100%;
    //     transition: background-size 0.3s;
    //     // @include surligne;
    //     &:hover{
    //         background-size: 100% 100%;  
    //     }
    // }
    .under
    {
        background: linear-gradient(to top, red 0%, red 1px, transparent 3px) no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.3s;
        // @include surligne;
        &:hover{
            background-size: 100% 100%; 
        }
    }

    }
    .article_P1{
        margin: 5px;
        width: 80%;
        align-items: flex-start;
        flex-grow: 2;
    }
    .prix{
        margin: 5px;
        // font-weight: bold;
    }
}

.basMenu
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    
}

// .ligne
// {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     margin-top: 10px;
//     margin-bottom: auto;
//     p 
//     {
//         // width: 70%;
//         display: flex;
//         justify-content: flex-start;
//     }
//     aside
//     {
//     //    width: 20%;
//     }
// }
// .ligne :nth-child(2)
// {
//     display: inline-flex;
//     justify-content: flex-end;

// }

.intitule{
    text-align: center;
    // h1{
    //     color: inherit;
    //     text-decoration: none;
    //     background: linear-gradient(to top, #3c1218, 0%, #3c1218 2px, transparent 5px);
    //     background-size: 0 100%;
    //     transition: background-size .3s;
    //     &:hover{
    //         background-size: 100% 100%;
    //     }
    // }
}

/* ---------------- menu P2 le chic -------------------- */

.body_P1
{
    background-color: #FEF4FD;
}

/* ---------------- menu P3 le delice -------------------- */

.body_P1
{
    background-color: #F9F9F9;
}

/* ---------------- menu P4 la palette  -------------------- */

.body_P1
{
    background-color: #FCFFFD;
}


.progress

{
    &__bar{
        transform: scaleX(0);
        border: solid green;
    }
}

