/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------- au dessus reset css d'Eric Meyers------------------------------------- */

/* ------------------------ page d'accueil --------------------- */

html, body {
    height: 100%;
}

body
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    margin-left: 0px;
    margin-right: 0px;
    
}

header
{
    height: 100px;
    width: 100%;
    margin-top: 0%;
    padding: 30px;
    background-color: #569c87;
    color: #E2C44F;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
}

#main
{
    max-width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    background-color: white;
    
}


article
{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px 15px 20px;
    text-align: center;
    padding-top: 120px;
    box-shadow: 1px 1px 10px #EEEEEE;
    
}

.la_note
{
    background-color: #fcdfdb;
    font-family: "Devonshire-Regular";
    color: #3c1218;
}

.la_note h2
{
    font-family: "DeliusUnicase-Bold";
    color: #3c1218;
}

.le_chic
{
    background-color: #FEF4FD;
    font-family: "Montez-Regular";
}

.le_chic h2
{
    font-family: "AbrilFatface";
}

.le_delice
{
    background-color: #F9F9F9;
    font-family: "Dancing Script";
}

.le_delice h2
{
    font-family: "ShadowsIntoLight";
}

.la_palette
{
    background-color: #FCFFFD;
    font-family: "KaushanScript-Regular";
}

.la_palette h2
{
    font-family: "ShadowsIntoLight";
}

a
{
    text-decoration: none;
}

.vide
{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.bouton
{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bouton a {
    
    border:none;
	padding:6px 30px 6px 30px;
	border-radius:8px;
	background: #569c87;
	font: 30px Arial;
    color:#E2C44F;

    }

footer
{
    height: 50px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    background-color: #569c87;
    color: #E2C44F;
    text-align: center;
    position: sticky;  
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer a
{
    color: #E2C44F;
    width: 50%;
    padding-top: 20px;
    font-size: 20px;  
}

/* ---------------- menu P1 la note enchantee -------------------- */

.main_P1
{
    background-color: #fcdfdb;
}

/* ---------------- menu P2 le chic -------------------- */

.body_P1
{
    background-color: #FEF4FD;
}

/* ---------------- menu P3 le delice -------------------- */

.body_P1
{
    background-color: #F9F9F9;
}

/* ---------------- menu P4 la palette  -------------------- */

.body_P1
{
    background-color: #FCFFFD;
}


