$couleur_1: #569c87;
$couleur_2: #fdcb46;
$couleur_3: #fcdfdb;
$couleur_4: #3c1218;
$couleur_5: #c77412;
$couleur_6: #905bfd;
$couleur_7: #0431df;
$couleur_8: #83c0fa;
$couleur_9: #42973c;
$couleur_10: #bfff7e;
$couleur_11: #FEF4FD;
$couleur_12: #fcdfdb;


$couleur_back_la_note: #fcdfdb;
$font_la_note: "Devonshire-Regular";
$font_la_note2: "DeliusUnicase-Bold";
$color_la_note: #3c1218;


$couleur_back_le_chic: #FEF4FD;
$font_le_chic: "AbrilFatface";
$font_le_chic_2: "Montez-Regular";



$couleur_back_le_delice: #F9F9F9;
$font_le_delice: "Dancing Script";
$font_le_delice_2: "ShadowsIntoLight";

$couleur_back_la_palette: #FCFFFD;
$font_la_palette: "KaushanScript-Regular";
$font_la_palette_2: "ShadowsIntoLight";


// $note: (
//     first_color: $couleur_5,
//     second_color: $couleur_6
// );


$menus: (
    1: (
        from: $couleur_4,
        to: $couleur_4,
        textColor: $couleur_4,
        textFont1: $font_la_note,
        textFont2: $font_la_note2,
        backgroundColor:$couleur_back_la_note,
        resto: 'La-note'
    ),
    2: (
        from: $couleur_5,
        to: $couleur_6,
        textColor: $couleur_5,
        // ecriture_1: $font_le_chic,
        // ecriture_2: $font_le_chic_2,
        textFont1: $font_le_chic,
        textFont2: $font_le_chic_2,
        backgroundColor: $couleur_back_le_chic,
        resto: 'le-chic'
    ),
    3: (
        from: $couleur_7,
        to: $couleur_8,
        textColor: $couleur_7,
        // ecriture_1: $font_le_delice,
        // ecriture_2: $font_le_delice_2,
        textFont1: $font_le_delice,
        textFont2: $font_le_delice_2,
        backgroundColor: $couleur_back_le_delice,
        resto: 'le-delice'
    ),
    4: (
        from: $couleur_9,
        to: $couleur_10,
        textColor: $couleur_9,
        // ecriture_1: $font_la_palette,
        // ecriture_2: $font_la_palette_2,
        textFont1: $font_la_palette,
        textFont2: $font_la_palette_2,
        backgroundColor: $couleur_back_la_palette,
        resto: 'la-palette'
    )
);










$wiggle-intensity: 2%;
$size: 1vh;
$number_point: 3;
$taille_point: 10px;
$time: 1000ms;
$anim-delay: $time / $number_point;


