@font-face{
    font-family: "Devonshire-Regular";
    src: url("./Font/Devonshire/Devonshire-Regular.ttf");
}

@font-face{
    font-family: "DeliusUnicase-Bold";
    src: url("./Font/Delius_Unicase/DeliusUnicase-Bold.ttf");
}

@font-face{
    font-family: "AbrilFatface";
    src: url("./Font/Abril_Fatface/AbrilFatface-Regular.ttf");
}

@font-face{
    font-family: "Montez-Regular";
    src: url("./Font/Montez/Montez-Regular.ttf");
}

@font-face{
    font-family: "Dancing Script";
    src: url("./Font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

@font-face{
    font-family: "ShadowsIntoLight";
    src: url("./Font/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}

@font-face{
    font-family: "KaushanScript-Regular";
    src: url("./Font/Kaushan_Script/KaushanScript-Regular.ttf");
}

@font-face{
    font-family: "PTSerif-Regular";
    src: url("./Font/PT_Serif/PTSerif-Regular");
}

@font-face{
    font-family: "Caveat-VariableFont_wght";
    src: url("./Font/Caveat/Caveat-VariableFont_wght.ttf");
}